a {
    text-decoration: none;
    color: black;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

body {
    place-items: center;
    display: grid;
    background-color: #ffffff;

}

.container-fluid {
    display: grid;
    place-items: right;
    height: 100vh;
    /* Eğer tam sayfa ortalaması yapmak istiyorsanız */
}

.col-sm-3 {
    height: 755px;
    background-color: rgb(0, 0, 0);
    text-align: center;
}

img {
    height: 375px;
    width: 306px;
    border-radius: 3%;
}

@media screen and (min-width: 1024px) {

    /* büyük ekranlarda*/
    .img-durum {
        float: right;
    }

    .liste {
        list-style-type: none;
        text-align: center;
        padding-top: 136px;
        position: sticky;
        top: 75px;
    }

    .swipeup {
        display: none;
    }

    .siyahekran {
        height: 1600px;
    }
}

@media screen and (max-width: 768px) {

    /* küçük ekranlarda*/
    .img-durum {
        display: grid;
        place-items: center;
    }

    .liste {
        list-style-type: none;
        text-align: center;
        padding-top: 136px;
    }

}

.col-sm-9 {
    background-color: #ffffff;
}

.col-sm-4 {
    padding-right: 5px;
}

.textler {
    padding-top: 175px;
    padding-left: 30px;
}

.rowheight {
    height: 315px;
    margin: 5px;
}

p {
    font-family: 'Changa', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 100;
    font-size: auto;
}

h1 {
    font-size: 50px;
    color: black;
}

.custom-button {
    width: 100%;
    margin-top: 5px;
}

.a15 {
    color: inherit;
}

i {
    height: 100px;
    width: 100px;
    display: grid;
}

span {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sola-dayali {
    float: left;
}

#listem {
    list-style-type: none;
    padding-left: 0;
    margin-left: 15px;

}

.list-degerleri {
    font-size: 12px;
}

svg {
    height: 25px;
    width: 25px;
}

.Sertifikalarım {
    width: 285px;
    height: 30px;
    background: gray;
    text-align: center;
    font-size: 10px;
    color: white;
}

#hero {
    width: 100%;
    background-size: cover;
}

@media (max-width: 768px) {
    .breadcrumbs .d-flex {
        display: block !important;
    }
}

#hero .hero-container {
    position: relative;
    z-index: 2;
    min-width: 300px;
}
.AliTekes{
font-family: 'PT Sans Narrow', sans-serif;
}
